<h1><%= @photo.description %></h1>

<%= image_tag @photo.photo.url %>

<h2>Tagged people:</h2>
<ul>
  <% @photo.tags.each do |tag| %>
  <% display = User.find(tag.user_id) %>
    <li><%= display.email %></li>
  <% end %>
</ul>

<p><%= link_to "Favorite", user_photo_favorites_path(@user, @photo),
                         :data => { :method => "create"},
                         :class => "btn btn-danger" %></p>
